---
- name: Install required packages
  deb:
    name="{{ item }}"
    state=present
  with_items: "{{ cgw__packages }}" 
  tags:
    - install

- name: Configure VPN endpoints and PSKs
  template:
    src="psk.txt.j2"
    dest="{{ cgw__racoon_psktxt }}"
    owner=root
    group=root
    mode=0640

- name: Configure ipsec-tools.conf
  template:
    src="ipsec-tools.conf.j2"
    dest="{{ cgw__ipsectools_conf }}"
    owner=root
    group=root
    mode=0754

# vim: ft=ansible
