#!/usr/sbin/setkey -f

flush;
spdflush;

{% for ipkey in cgw_ipkey_pairs.iteritems() %}
# [INBOUND] {{ ipkey }}
spdadd {{ ipkey.server_intern_ip }}/30  169.254.44.230/30   any -P in    ipsec    esp/tunnel/{{ ipkey.ip }}-{{ ipkey.extern_ip }}/require;
spdadd {{ ipkey.subnet_intern }}      {{ ipkey.client_intern_ip }}/30   any -P in    ipsec    esp/tunnel/{{ ipkey.ip }}-{{ ipkey.extern_ip }}/require;
spdadd {{ ipkey.subnet_intern }}      0.0.0.0/0           any -P in    ipsec    esp/tunnel/{{ ipkey.ip }}-{{ ipkey.extern_ip }}/require;
{% endfor %}

{% for ipkey in cgw_ipkey_pairs.iteritems() %}
# [OUTBOUND] {{ ipkey }}
spdadd {{ ipkey.client_intern_ip }}/30  {{ ipkey.server_intern_ip }}/30   any -P out   ipsec    esp/tunnel/{{ ipkey.extern_ip }}-{{ ipkey.ip }}/require;
spdadd {{ ipkey.client_intern_ip }}/30  {{ ipkey.subnet_intern }}       any -P out   ipsec    esp/tunnel/{{ ipkey.extern_ip }}-{{ ipkey.ip }}/require;
spdadd 0.0.0.0/0          {{ ipkey.subnet_intern }}       any -P out   ipsec    esp/{{ ipkey.extern_ip }}-{{ ipkey.ip }}/require;
{% endfor %}

# vim: ft=ansible
